$white: hsl(0, 100%, 100%);
$grey-900: hsl(217, 19%, 35%);
$grey-500: hsl(214, 17%, 51%);
$grey-400: hsl(212, 23%, 69%);
$grey-200: hsl(210, 46%, 95%);

body {
  background: $grey-200;
}

.card {
  background: $white;
}

.card__title,
.card__author-name {
  color: $grey-900;
}

.card__text {
  color: $grey-500;
}

.card__author-date {
  color: $grey-400;
}
